spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/klastr_db
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080