spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/klastr_test
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  flyway:
    enabled: false